@import '~/node_modules/bootstrap/scss/bootstrap.scss';

/* Commons */

body {
    background-color: black;
    overflow: hidden;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
      max-height: 100%;
      max-width: 100%;
  }

  h2 {
      color: rgba(100, 148, 237, 0.699);
      margin: 2rem auto;
      border: 1px solid blue;
      box-shadow: inset 5px 5px 10px blue;
      border-radius: 0.5rem;
      transition: 500ms;
      
      width: 20%;
      &:hover {
        box-shadow: inset 5px 5px 10px transparent;
        color: rgb(100, 148, 237);
      }
  }



  /* Header */

  header {
    border-bottom: 3px solid cornflowerblue;
    position: sticky;
    box-shadow: 0 10px 50px blue;
    background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

    /* Nav */
  
    input {
      font-size: 13px;
      border: none;
      &:focus {
          outline: 3px ridge cornflowerblue;
      }
  }

  
  .search_bar {
    padding: 0.3rem 0.5rem;
    margin-right: 0.5rem;
    color: cornflowerblue;
    &::placeholder {
        color: rgba(100, 148, 237, 0.763);
        font-size: 13px;
    }
  }
  
  .btn {
    color: gray;
    border: 2px solid gray;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    transition: 500ms;
    &.btn:hover {
        border: 2px solid cornflowerblue;
        color: cornflowerblue;
        background-color: darkgrey;
        transform: scale(1.2);
    }
  }

  /* Main */

  main {
    /* background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: black;
    margin-top: 0.5rem;
    padding-top: 2rem;
    padding-bottom: 5rem ;
    height: calc(100vh - 55px); 
    overflow:auto;
    &::-webkit-scrollbar {
      width: 10px; 
      border-radius: 0.5rem; 
    }
    &::-webkit-scrollbar-track {
      background: cornflowerblue;  
  }
    &::-webkit-scrollbar-thumb{
      background-color: blue;  
      border-radius: 0.5rem;     
  }
}
  
  .mostra_lista {
    padding: 1rem;
    margin: auto;
  }

  .overflow-auto {
    &::-webkit-scrollbar {
        height: 7px;
        border-radius: 0.5rem; 
      }
      &::-webkit-scrollbar-track {
        background: cornflowerblue;  
    }
      &::-webkit-scrollbar-thumb{
        width: 10%;
        height: 5px;
        background-color: blue;  
        border-radius: 0.5rem;     
    }
  }

  .col {
      transition: 500ms;
  }

  .col:hover .card {
    display: none;
    }

  .card {
      border: 2px solid blue;
      transition: 500ms;  
      box-shadow: 0 0 25px lightblue;
  }

  .text {
    display: none;
    padding: 2rem 1rem;
    margin: auto;
    color: white;
    height: 100%;
    border: 2px solid blue;
    border-radius: 0.2rem;
    background-color: black;
    transition: 500ms;
    font-size: 12px;
    .overview {
        overflow-y: auto;
        max-height: 200px;
        padding-right: 0.5rem;
        &::-webkit-scrollbar {
            width: 5px; 
            border-radius: 0.5rem; 
          }
          &::-webkit-scrollbar-track {
            background: cornflowerblue;  
        }
          &::-webkit-scrollbar-thumb{
            width: 10px;
            background-color: blue;  
            border-radius: 0.5rem;     
        }
    }
  }

  .col:hover .text {
    display: block;
    box-shadow: 0 0 40px blue;

  }
  
  .star_standard {
    color: gray;
  }
  
  .star_show {
    color: yellow;
  }
  
  /* Utilities */
  .border_radius_05 {
      border-radius: 1rem;
  }

  .d-flex {
    display: flex;
  }
  
  .d_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bg_black {
      background-color: black;
  }

  .py_1 {
      padding: 1rem 0;
  }

  .fixed_height {
    height: 100%;
}
  .row_fixed_height {
    height: 440px;
 }