@import '~/node_modules/bootstrap/scss/bootstrap.scss';

/* Commons */

body {
    background-color: black;
    overflow: hidden;
}

header {
    border-bottom: 3px solid cornflowerblue;
    position: sticky;
    box-shadow: 0 10px 30px blue;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
      max-height: 100%;
      max-width: 100%;
  }

  h2 {
      color: cornflowerblue;
      margin-bottom: 1rem;
  }

  main {
      background-color: black;
      margin-top: 0.5rem;
      padding-top: 2rem;
      padding-bottom: 5rem ;
      max-height: calc(100vh - 55px); 
      overflow:auto;
      &::-webkit-scrollbar {
        width: 10px; 
        border-radius: 0.5rem; 
      }
      &::-webkit-scrollbar-track {
        background: cornflowerblue;  
    }
      &::-webkit-scrollbar-thumb{
        background-color: blue;  
        border-radius: 0.5rem;     
    }
  }

  /* Main */
  
  .mostra_lista {
    padding: 1rem;
  }

  .fixed_height {
      height: 100%;
  }

  .col {
      transition: 1000ms;
  }

  .col:hover .card {
    display: none;
    }

   .card {
       border: 2px solid blue;
       box-shadow: 0 0 25px cornflowerblue;
   }

  .text {
    display: none;
    padding: 2rem 1rem;
    margin: auto;
    color: white;
    height: 100%;
    border: 2px solid blue;
    border-radius: 0.2rem;
    background-color: black;
    font-size: 12px;
    .overview {
        overflow-y: auto;
        max-height: 200px;
        &::-webkit-scrollbar {
            width: 5px; 
            border-radius: 0.5rem; 
          }
          &::-webkit-scrollbar-track {
            background: cornflowerblue;  
        }
          &::-webkit-scrollbar-thumb{
            height: 10px;
            background-color: blue;  
            border-radius: 0.5rem;     
        }
    }
  }

  .col:hover .text {
    display: block;
  }
  
  input {
      font-size: 13px;
      border: none;
      &:focus {
          outline: 2px solid cornflowerblue;
      }
  }

  label {
    font-size: 13px;
  }
  
  .search_bar {
    padding: 0.4rem 0.6rem;
    margin-right: 0.5rem;
    color: cornflowerblue;
    &::placeholder {
        color: rgba(100, 148, 237, 0.763);
        font-size: 13px;
    }
  }
  
  .btn {
    color: black;
    border: 2px solid transparent;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
    transition: 500ms;
    &.btn:hover {
        border: 2px solid cornflowerblue;
        color: cornflowerblue;
        background-color: darkgrey;
    }
  }
  
  .star_standard {
    color: gray;
  }
  
  .star_show {
    color: yellow;
  }
  
  /* Utilities */
  .border_radius_05 {
      border-radius: 1rem;
  }

  .d-flex {
    display: flex;
  }
  
  .d_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bg_black {
      background-color: black;
  }

  .py_1 {
      padding: 1rem 0;
  }